@import '~antd/dist/antd.css';

.menuBar {
  background-color: #50acff !important;
  padding: 2px 40px;
  overflow: auto;
}

.logo h3{
  float: left;
  color: #fff !important;
  margin: 7px;
}

.mainMenu{
  padding: 0 40px;
  min-width: 245px;
  float: left;
}

.mainMenu button{
  color: #fff ;
}

.mainMenu li{
  background-color: #50acff !important;
}

.userLogo{
  float:right;
  margin:10px;
}

.logoutButton button{
  color: #fff;
  margin: 5px;
  float: right;
};
